################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DashBoardApp/.vs/DashBoardApp/FileContentIndex/0cff03e9-a0ee-419d-be94-8599de67e650.vsidx
/DashBoardApp/.vs/DashBoardApp/FileContentIndex/de5b349d-ac76-4446-a3e5-ea50fb43263a.vsidx
